@model ItrKurs.Models.Collection
@{
    ViewBag.Title = $"Create {ViewBag.discriminator} collection";
}
@if (User.Identity.IsAuthenticated)
{
    <table class="table table-hover home-content table-bordered ">
        <thead class="thead-light">
            <tr>
                @for (int i = 0; i < @ViewBag.m_additionalFields.Length; ++i)
                {
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="@i" onclick="toggle(this,'@i'+'a')">
                            <label class="custom-control-label" for="@i">@ViewBag.m_additionalFields[@i]</label>
                        </div>
                    </td>
                }
            </tr>
        </thead>
    </table>


    <form asp-action="CreateCollection" asp-controller="Collection">

        <div class="form-group">
            <label asp-for="Name" class="control-label">Name</label>
            <input type="text" asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Discription" class="control-label">Discription</label>
            <input type="text" asp-for="Discription" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Tags" class="control-label">Tags</label>
            <input type="text" asp-for="Tags" class="form-control" />
        </div>





        <div class="form-group" style="display:none" id="0a">
            <label asp-for="Date" class="control-label">@ViewBag.m_additionalFields[0]</label>
            <input type="date" asp-for="Date" class="form-control" />
        </div>


        <div class="form-group" style="display:none" id="1a">
            <label asp-for="Int1" class="control-label">@ViewBag.m_additionalFields[1]</label>
            <input type="number" asp-for="Int1" class="form-control" />
        </div>
        <div class="form-group" style="display:none" id="2a">
            <label asp-for="Int2" class="control-label">@ViewBag.m_additionalFields[2]</label>
            <input type="number" asp-for="Int2" class="form-control" />
        </div>

        <div class="form-group" style="display:none" id="3a">
            <label asp-for="Int3" class="control-label">@ViewBag.m_additionalFields[3]</label>
            <input type="number" asp-for="Int3" class="form-control" />
        </div>




        <div class="form-group" style="display:none" id="4a">
            <label asp-for="Bool1" class="control-label">@ViewBag.m_additionalFields[4]</label>
            <input type="checkbox" asp-for="Bool1" class="form-control" />
        </div>

        <div class="form-group" style="display:none" id="5a">
            <label asp-for="Bool2" class="control-label">@ViewBag.m_additionalFields[5]</label>
            <input type="checkbox" asp-for="Bool2" class="form-control" />
        </div>

        <div class="form-group" style="display:none" id="6a">
            <label asp-for="Bool3" class="control-label">@ViewBag.m_additionalFields[6]</label>
            <input type="checkbox" asp-for="Bool3" class="form-control" />
        </div>





        <div class="form-group" style="display:none" id="7a">
            <label asp-for="Longtext1" class="control-label">@ViewBag.m_additionalFields[7]</label>
            <textarea asp-for="Longtext1" class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group" style="display:none" id="8a">
            <label asp-for="Longtext2" class="control-label">@ViewBag.m_additionalFields[8]</label>
            <textarea asp-for="Longtext2" class="form-control" rows="3"></textarea>
        </div>




        <div class="form-group" style="display:none">
            <label asp-for="Discriminator" class="control-label">Discriminator</label>
            <input type="text" asp-for="Discriminator" class="form-control" value="@ViewBag.discriminator" />
        </div>

        <div class="form-group" style="display:none">
            <label asp-for="ImgSrc" class="control-label">ImgSrc</label>
            <input type="text" id="ImgSrc" asp-for="ImgSrc" class="form-control" />
        </div>

        <div class="form-group" style="display:none">
            <label asp-for="bitMask" class="control-label">bitMask</label>
            <input type="text" id="Bitmask" asp-for="bitMask" class="form-control" />
        </div>

        

        <div class="form-group">
            <input type="submit" value="Отправить" class="btn btn-default" />
        </div>

    </form>
    <div class="form-group" style="display:none" id="9a">
        <form method="post" enctype="multipart/form-data">
            <div id="fileBasket" class="dropZone">
                <div id="dropZone">
                    Theare are
                </div>
            </div>
            <div class="spinner-border" role="status" id="progress">
                <span class="sr-only">Loading...</span>
            </div>
        </form>
    </div>
        }
        else
        {
        <div style="text-align:center">
            <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Sign In</a>
            <a class="btn btn-success" asp-controller="Account" asp-action="Register">Sign Up</a>
        </div>
        }
