@using ItrKurs.Models
@model PersonalCollectionViewModel

@{
    ViewData["Title"] = "Home Page";
}
<style>
    @@font-face {
        font-family: 'FontAwesome';
        src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff') format('woff'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal
    }

    .glyphicon {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }

    .glyphicon-chevron-right:before {
        content: "\f054";
    }

    .glyphicon-chevron-left:before {
        content: "\f053";
    }
</style>
<h1>Список пользователей</h1>
<form asp-action="ItemView"
               asp-route-sortOrder="@(Model.SortViewModel.DateCreateSort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-description="@(Model.FilterViewModel.SelectedDescription)"
               asp-route-discriminator="@(Model.FilterViewModel.SelectedDiscriminator)"
               asp-route-userId="@(Model.FilterViewModel.SelectedUser)">
    <div class="form-inline">


        <div class="input-group mb-3">

            <input name="name" type="text" value="@Model.FilterViewModel.SelectedName"
                   class="form-control"
                   placeholder="Filter...." aria-label="Filter...."
                   aria-describedby="basic-addon1">
            <div class="input-group-append">
                
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="fas fa-search"></i></button>
            </div>
        </div>


    </div>
</form>

<table class="table">
    <tr>
        <th>Image</th>
        <th>
            <a asp-action="ItemView"
               asp-route-sortOrder="@(Model.SortViewModel.NameSort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-description="@(Model.FilterViewModel.SelectedDescription)"
               asp-route-discriminator="@(Model.FilterViewModel.SelectedDiscriminator)"
               asp-route-userId="@(Model.FilterViewModel.SelectedUser)">Name</a>
        </th>

        <th>
            <a asp-action="ItemView"
               asp-route-sortOrder="@(Model.SortViewModel.DescrSort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-description="@(Model.FilterViewModel.SelectedDescription)"
               asp-route-discriminator="@(Model.FilterViewModel.SelectedDiscriminator)"
               asp-route-userId="@(Model.FilterViewModel.SelectedUser)">Description</a>
        </th>
        <th>
            <a asp-action="ItemView"
               asp-route-sortOrder="@(Model.SortViewModel.DateCreateSort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-description="@(Model.FilterViewModel.SelectedDescription)"
               asp-route-discriminator="@(Model.FilterViewModel.SelectedDiscriminator)"
               asp-route-userId="@(Model.FilterViewModel.SelectedUser)">DateCreate</a>
        </th>
        <th>Edit</th>
        <th>Details</th>
        <th>Delete</th>
    </tr>
    @foreach (Collection item in Model.Collections)
    {
<tr>
    <td>
        <div class="container">
            <div class="col-md-4 px-0"><img src="@(item.ImgSrc!=null ? item.ImgSrc : "\\uploadedfiles\\item.png")" width="64" alt="Responsive image"></div>
        </div>
    </td>
    <td>@item.Name</td>

    <td>@item.Discription</td>
    <td>@item.DateCreate</td>
    <td>
        <a class="btn btn-outline-primary" asp-action="@("Edit" + item.Discriminator)" asp-controller="Collection" asp-route-id="@item.Id">Edit</a>
    </td>

    <td> <a class="btn btn-outline-primary" asp-action="Details" asp-controller="Collection" asp-route-id="@item.Id">Details</a> </td>

    <td> <a class="btn btn-outline-primary" asp-action="Delete" asp-controller="Collection" asp-route-id="@item.Id">Delete</a> </td>

</tr>
    }
</table>
